APP_NAME=ThreatLink AI
APP_ENV=development
API_PREFIX=/api/v1

MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=threatlink_ai

BLOCKCHAIN_RPC_URL=https://rpc.mstblockchain.com
BLOCKCHAIN_CHAIN_ID=1337  # Replace with actual MST Chain ID
BLOCKCHAIN_CONTRACT_ADDRESS=0xF2E246BB76DF876Cef8b38ae84130F4F55De395b
BLOCKCHAIN_PRIVATE_KEY=0x5eba3e11c8532da86cc54606ca0effa626104f1b73929d2ad61dce1181b4f566


JWT_SECRET_KEY=4dk2OZQZvxNSx1sUYN_dhWR7Ds9c8H9bjqdCMc1rpB8
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
