APP_NAME=ThreatLink AI
APP_ENV=development
API_PREFIX=/api/v1

MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=threatlink_ai

BLOCKCHAIN_RPC_URL=https://rpc.mstblockchain.com
BLOCKCHAIN_CHAIN_ID=1337  # Replace with actual MST Chain ID
BLOCKCHAIN_CONTRACT_ADDRESS=0xF2E246BB76DF876Cef8b38ae84130F4F55De395b
BLOCKCHAIN_PRIVATE_KEY=your_bridgekey_exported_private_key_here


JWT_SECRET_KEY=replace_with_your_super_secret_jwt_key_here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
